<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>Local Examples</title>
            <link rel="shortcut icon" href="compass-rose-free-favicon.png" type="image/x-icon">
              <link href="myfirstCSS.css" rel="stylesheet" type="text/css" />
               <script src="localEx.js" asynch></script>
    </head>
    <body>
        <div>
            <h1> Begin here </h1>
            </div>
        <div>
            <p>testing my p element without using class</p>
            <p class="nature">check out the p element using my nature class</p>
            <p id="highlight-orange">this text should have an orange back ground and be centered.</p>
            </div>
        <h4>strong font is Copperplate 18pt</h4>
        <div align="center">
            <button class="doMathButton">Click Here to Do Some Math</button>
            </div>
                <marquee><h3>written in garamond</h3></marquee>
            <div>
            
            <h2>I work
                <a href="http://www.tire-intelligence.com">here</a>
            </h2>
               <h4><a href="clock/clock.html">click here to view the clock coded by Morton Rand-Hendrikson </a></h4>
            <h4 id= "highlight-orange">
                <a href= List.html> Create Your To Do List Here</a>
            </h4>
            <div id = "highlight-orange">this is div using highlight orange</div>
                 <!-- thanks to Morton Rand-Hendrikson - JavaScript Essentials from Lynda.com -->
    </body>
</html>
